.navbar{
    background-color: rgb(24, 24, 24);
    padding: 10px;
    height: 100px;
  }
  .navbar-nav .nav-link{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
  }
  .nav-link i{
    font-size: 20px;
    
  }
  .container-fluid h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .nav-link:hover{
    color: orange;
  }
  
  .first1{
    background-image: url(/img/coffe2.jpeg);
    background-size: cover;
    background-position: center;
    height: 700px; 
    }
   .box1{
    margin-top: 250px;
    margin-left: 200px;
   }
    .box1 button{
    background-color: black;
    color: white;
    width: 150px;
    padding: 5px;
    }
    .box1 button:hover{
    background-color: orange;
    color: white;
    
    }
    .container1{
      display:grid;
      grid-template-columns: 1fr 1fr;
      height: 100vh;
      align-items: center;
      padding: 50px;
      gap: 20px;
  }
  .about2{
      text-align: left;
      margin-left: 150px;
  }     
  .about2 h1{
    color: orange;
    font-weight: bold;
    font-size: 60px;
  }   
  .about2 button{
    background-color: black;
    color: white;
    width: 150px;
    padding: 10px;
  }
  .about3 img{
    margin-right: 50px;
    width: 100%;
    height: auto;
    max-width: 500px;
  }
  
  .about2 button:hover{
    background-color: orange;
  }
  .gallery{
    margin-top: 90px;
  }
  .gallery h1{
    color: orange;
    text-align: center;
  }
  .gallery p{
    text-align: center;
  }
  .gallery-photo{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 50px;
  }
  .galley-img img{
    width: 300px;
    height: 300px;
  }
  .galley-img{
    position: relative;
    display: inline;
    overflow: hidden;
  }
  .galley-img .overlay{
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;

  }
  @media (max-width: 1000px) {
    .gallery-photo {
      grid-template-columns: auto auto;
    }
  }
  @media (max-width: 600px) {
    .gallery-photo {
      grid-template-columns: auto;
    }
  }
  .galley-img:hover .overlay{
    opacity: .5;
  }
  .gallery-photo .galley-img i{
    font-size: 50px;
  }
  .overlay i:hover{
    color: orange;
  }
  .bt{
    display: flex;
    justify-content: center;
  }
  .button1{
    background-color: black;
    color: white;
    width: 150px;
    padding: 5px;
    }
    .button1:hover{
    background-color: orange;
    color: white;
    
    }
    .serv1{
      background-image: url(/img/images-for-grandcoffee-website/services-bg.png);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: grid;
      justify-content: center;
      text-align: center;
    
    }
    .serv3{
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 30px;
      grid-gap: 10px;
      padding: 20px;
    }
    .s1{
      border: 1px solid black;
      background-color: orange;
      padding: 20px;
      margin-right: 10px;
      width: 300px;
      height: 300px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    .fa-solid {
      width: 100px;
      height: 50px;
      margin-top: 20px;
      
    }
    .button2{
      opacity: 0;
      background-color: black;
      color: white;
      width: 150px;
      padding: 5px;
      cursor: pointer;
      }
      .s1:hover{
        background-color: white;
        color: black;
        height:350px ;
        transition: 0.5s;
      }
      .s1:hover .button2{
        opacity: 1;
      }
      @media (max-width: 1000px) {
        .serv3 {
          grid-template-columns: repeat(2, 1fr)
        }
      }
      @media (max-width: 600px) {
        .serv3 {
          grid-template-columns: 1fr;
        }
      }
      .contact-section{
        display: flex;
        flex-wrap: wrap;
        
      }
      .contact-form{
        background-image: url(/img/images-for-grandcoffee-website/about-img.png);
        background-position: center;
        padding: 40px;
        width: 40%;
      }
      .contact-form form{
        display: flex;
        flex-direction: column;
      }
      .contact-map{

        height: auto;
        display: flex;
        width: 60%;
      }
      .contact-map iframe{
        width: 100%;
        height: 100%;
        min-height: 500px;
      }
      .contact-h1{
        color: orange;
        text-align: center;
      }
      .contact-form input,textarea,.button3{
        border-radius: 10px;
        padding: 10px;
      }
      .button3{
        width: 200px;
        align-self: center;
        background-color: orange;
        color: white;
      }
      .button3:hover{
        background-color: white;
        color: black;
      }
.test h1{
  display: flex;
  justify-content: left;
  color: orange;
  padding-left: 100px;
  font-size: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
}
.test p{
  font-size: 19px;
  font-weight: lighter;
  display: flex;
  justify-content: left;
  margin-left: 50px;
}
.tbox{
  border-style: solid;
  margin: 10%;
  padding: 30px;
}
.last{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  background-color: rgb(24, 24, 24) ;
  color: white;
  padding: 20px;
 grid-gap: 70px;
}
.f1 i{
  margin: 0;
  padding: 0;

}
.f1 li a{
  text-decoration: none;
  color: inherit;
}
.f1 li{
  list-style: none;
}
.f1 li a:hover{
  color: orange;
}
.last2{
  text-align: center;
  padding: 10px;
  font-weight: lighter;
  color: black;
}
.last2 a{
  text-decoration: none;
  color: black;
}
.last2 a:hover{
  color: orange;
}